<%- include('../adminInclude/header.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body id="page-top">
    <div id="wrapper">
<%- include('../adminInclude/sidenav.ejs') %>
<%- include('../adminInclude/topnav.ejs') %>

    <main>
    <form class="product-form" action="/currency/admin/<%if(editing){%>edit-accessories<% }else{ %>add-accessories<% }%>"method="POST">
            <div class="form-controls">
                <label for="title">Title</label>
                <input type="text" name="title" value="<% if (editing) { %><%= accessories.title %><% } %>" id="title">
            </div>
           
            <% if(editing){ %>
                <input type="hidden"  value="<%=accessories._id%>" name="accsessId">
            <% } %>  

            <input type="hidden" name="_csrf" value="<%= csrfTokenss  %>">
            <button class="btn btn-primary" id="create-cetagory" type="submit"><% if (editing) { %>Update accessories<% } else { %>Add accessories<% } %></button>
        </form>
    </main>

    <% if (!editing) {%> 
    <hr>

    <main>
        <% if (accessories.length > 0) { %>
            <div class="grid">
                <% for (let cat of accessories) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%= cat.title %>
                            </h1>
                        </header>
                
                        <div class="card__actions">
                            <a href="/currency/admin/edit-accessories/<%=cat._id%>?edit=true" class="btn btn-success">Edit</a>
                            <form action="/currency/admin/delete-accessories" method="POST">
                                <input type="hidden" value="<%= cat._id %>" name="catId">
                                <input type="hidden" name="_csrf" value="<%= csrfTokenss  %>">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>

                        </div>
                    </article>
                    <% } %>
            </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
    </main>    

            <% } %> 

     <%- include('../adminInclude/footer.ejs') %>

