<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
          <% } %>
          <div class="card-body">
            <h5 class="card-title text-center">Admin Sign In</h5>

            <form class=" form-signin" action="/453644/admin/signup" method="POST">
              <div class="form-label-group">

                <input class="form-control <%=validationError.find(e=> e.param === 'name')?'invalid' : '' %> "
                  type="text" placeholder="Name" name="name" id="name" value="<%=oldInput.name%>">
              </div>
              <div class="form-label-group">

                <input class="form-control <%=validationError.find(e=> e.param === 'phone')?'invalid' : '' %> "
                  type="text" name="phone" placeholder="Phone Number" id="phone" value="<%=oldInput.phone%>">
              </div>
            
              <div class="form-label-group">

                <input type="email"
                  class="form-control <%=validationError.find(e=> e.param === 'email')?'invalid' : '' %> " name="email"
                  id="email" value="<%=oldInput.email%>" placeholder="Email">
              </div>
              <div class="form-label-group">

                <input type="password"
                  class="form-control <%=validationError.find(e=> e.param === 'password')?'invalid' : '' %> "
                  name="password" id="password" value="<%=oldInput.password%>" placeholder="Password">
              </div>
              <div class="form-label-group">

                <input type="password" name="confirmPassword" placeholder="Confirm Password"
                  class="form-control <%=validationError.find(e=> e.param === 'confirmPassword')?'invalid' : '' %> "
                  id="confirmPassword" value="<%=oldInput.confirmPassword%>">
              </div>
              <input type="hidden" name="_csrf" value="<%=csrfTokenss %>">

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>